<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br />
<a href="https://www.successarchitecture.blog">
    <img src="images/blog.jpg" class="img-responsive blogImg" alt="blog site Photo">
</a>
    <footer class="other-footer">
        <br /><br />
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p align=center><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2015 Jasem Qabazard (Success Architecture)</p>
                </div>
            </div>
        </div>
    </footer>
