<header class="headCarousel">
    <script type="text/javascript">
	        var $ = jQuery.noConflict();
	        $(document).ready(function()  {
		        $('#myCarousel').carousel({ interval: 10000, cycle: true });
	        });
    </script>
    <!-- Carousel ================================================== -->
    <div id="myCarousel" class="carousel carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active slide1 animated lightSpeedIn">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="animated rubberBand">Our Brains are engineered for success…</h1>
                        <a class="btn btn-lg" href="#whoRU" target="_self">Primal Ingenuity</a>
                    </div>
                </div>
            </div>
            <div class="item slide2 animated lightSpeedIn">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="animated rubberBand">Achieve Self mastery…</h1>
                        <h4 class="animated pulse">Go on a journey of discovery</h4>
                        <a class="btn btn-lg" href="#whoRU" target="_self">Primal Ingenuity</a>
                    </div>
                </div>
            </div>
            <div class="item slide3 animated lightSpeedIn">
                <div class="container">
                    <div class="carousel-caption">
                        <h1 class="animated rubberBand">Discover the systems that govern our primal Brain…</h1>
                        <h4 class="animated pulse">Please click </h4>
                        <a class="btn btn-lg" href="#whoRU" target="_self">Primal Ingenuity</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
    <!-- /.carousel -->

</header>
<div class="container">
    <!-- Start Container for all rows -->

    <div class="row row-content" id="whoRU">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12">
            <h1 align=center>BECOME A MASTER SUCCESS ARCHITECT TO CONSTRUCT A DEEPER VISION</h1>
        </div>
        <div class="col-xs-12">
            <div class="">
                <img class="img-responsive pull-right" src="images/who-are-you.png" alt="who are you">
            </div>
        </div>
        <div class="col-xs-12">
            <h4>
                Achieve Self mastery…
                Discover the systems that govern our primal Brain…
                How our Brain does helps us survive…
                Use primal Creativity…
                Find out the most simple design equilibrium governing system built within us that makes our brains superior…
                Our Brains are engineered for success…
                How did engineers harness basic Brain mechanisms to build advance technology?
                What makes us superior to Artificial Intelligence Robots and where we are similar?
                Use our Cybernetic nature to create, think, achieve, develop, build character, grow, and succeed.
            </h4>
        </div>
    </div>

    <div class="row row-content">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1>A PREREQUISITE IN SUCCESS ARCHITECTURE <span class="label label-danger">   All   </span></h1>
                <h3 class="logistics">A ONE Day Introductory Training Program</h3>
            </div>
            <div>
                <h4>
                    Start with this training program to discover the concept behind Success Architecture…
                    How does our Brain organize and architects data to foster natural creativity…
                    How can we achieve self mastery; develop our character, and skills?
                    What makes Success Architecture unique?
                    What are the primal success mechanisms in our brain?
                    How can we use these structures to enhance our life values?
                </h4>
                <div class="alert alert-info">
                    <strong>Please register</strong> to access our detailed booklet.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="images/060113g0004.jpg" alt="PREREQUISITE image">
            </div>
        </div>
    </div>


    <div class="row row-content">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1>CREATIVE SUCCESS ARCHITECTURE CORE <span class="label label-danger">   All   </span></h1>
                <h3 class="logistics">Become a Success Architect in This</h3>
                <h3 class="logistics">FIVE Days Core Training Program</h3>
            </div>
            <div>
                <h4>
                    This main training program focuses on the infinite potential that exists in our primal brain which surpasses any build Computer Programs or machinery.
                    Train in the actual mechanics that make up the components of Success Architecture. Develop these abilities, skills, know-how, and proficiency, to help you harness Success Architecture energies to add balance to your personal and professional life.
                    How do you discover and architect your life plans in accordance with your basic primal instincts. What are the dimensions of personal character and how can you design and architect your personality?
                    Success Architecture is founded on scientific progress in Brain technology, presented in a simple to understand applied methodology. Neurology, Artificial Intelligence, Systems Engineering are the basis for newest discoveries in this area.
                    Make yourself intuitive with habitual automatic energies for Mental Toughness, Creativity, Innovation, Success, and Agility.
                    Build habits in your life with Cybernetic.
                </h4>
                <div class="alert alert-info">
                    <strong>Please register</strong> to access our detailed booklet.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="images/10072049.JPG" alt="core program image">
            </div>
        </div>
    </div>


    <div class="row row-content">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1>ART & SKILLS OF STUDY <span class="label label-danger">   Students   </span></h1>
                <h3 class="logistics">A FIVE Day Student Skills Training Program</h3>
            </div>
            <div>
                <h4>
                    Learn strategies used by scientists, scholars, and creative genius. Use Success Architecture mechanisms to gain knowledge and learning? Learn 100 strategies to succeed in school and acquire knowledge. How do you build a strong unshakable character using the foundations for success? How does information structure in your brain? Build and organize your curriculum data in an easy to retrieve method using our Memory Systems. Prevent stress, fear, and gain mental agility, focus, and concentration. Learn critical thinking, innovation, creativity and use these to your advantage. How can you memorize a tremendous amount of information intuitively and use this technique to memorize what you want. What is primal learning? What is you style? Learn how to tackle school, and University confidently using Success Architecture tools.
                </h4>
                <div class="alert alert-info">
                    <strong>Please register</strong> to access our detailed booklet.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="images/38030.JPG" alt="study skills image">
            </div>
        </div>
    </div>


    <div class="row row-content">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1>MEMORY OF STEEL <span class="label label-danger">   Individual   </span></h1>
                <h3 class="logistics">A FIVE Day Memory enhancement Training Program</h3>
            </div>
            <div>
                <h4>
                    Ordinary people were able to remember a vast amount of data using these techniques described in this training program. So can you. What is memory? What are the types of memory in our brain? How do we benefit from this information to memorize and retrieve data? Use multiple storage techniques for the same data to reduce forgetfulness. How does our Brain store and construct its data? Is there a Photographic memory? Learn a complete vocabulary to memorize the entire Holy Quran, and use the same techniques to remember any data you require. Use your left and right brain to both memorize information and inspire your creativity to awaken your genius. Overcome information overload and manage your stress levels for optimal brain performance.
                </h4>
                <div class="alert alert-info">
                    <strong>Please register</strong> to access our detailed booklet.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="images/24313.JPG" alt="Memory of Steel image">
            </div>
        </div>
    </div>


    <div class="row row-content">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1>THINK TANK <span class="label label-danger">   Individual   </span></h1>
                <h3 class="logistics">A FIVE Day Creative Thinking Course</h3>
            </div>
            <div>
                <h4>
                    Thinking, Creativity, Innovation are skills that can be learnt. Learn the thinking strategies used by Leonardo da vinci, Einstein, Thomas Edison and genius from all ages. What is the ultimate creativity tool basic to our Brain? How to avoid crippling and preventing this mechanism? Learn the skill for natural primal creativity as part of Success Architecture mechanism… Make it part of your instinct. Use it to enhance your life in every aspect. How does data architect in your brain? Learn how data makes up information; and how the space between data structures make up creativity and innovation. How do we end up living inside a box and how do we escape the limiting factors imposed on our thinking brain. Learn types of thinking such as emotional and critical. How important is emotional intelligence in our lives. Learn 100 thinking tools for creativity and problem solving.
                </h4>
                <div class="alert alert-info">
                    <strong>Please register</strong> to access our detailed booklet.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="images/061213d0295.JPG" alt="Creativity image">
            </div>
        </div>
    </div>


    <div class="row row-content">
        <br /><br /><br /><br /><br /><br /><br />
        <div class="col-xs-12 col-sm-6">
            <div>
                <h1>NURTURING INTELLIGENT ENVIRONMENTS <span class="label label-danger">   Family   </span></h1>
                <h3 class="logistics">A FIVE Day on Fostering Intelligent Environments</h3>
            </div>
            <div>
                <h4>
                    Intrinsic Success Architecture is God given. These mechanisms are so basic that our Brain uses them to create and gain skills essential to children such as walking, speaking, learning…. These primal mechanisms can malfunction at higher levels of consciousness. How can we prevent that from happening to our children? Learn the components that make Success Architecture work and create an incubating environment for this most important automation for our children's success. How can you preserve your baby's intellectual faculties and create an environment that fosters utmost intellectual limits? What are the new scientific strategies for bringing up children that take responsibility in their adult life without any parental intervention? How do we teach our children social behaviors and skills? How do we promote Emotional Intelligence? How do we bring up a smart adult, motivated for success both in and out of school with undiminished energy?
                </h4>
                <div class="alert alert-info fade in">
                    <strong>Please register</strong> to access our detailed booklet.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="">
                <img class="img-responsive" src="images/38156.JPG" alt="Baby Intelligence image">
            </div>
        </div>
    </div>




</div> <!-- / End Container for all rows -->

<div class="container container2">
    <div class="row row-content">
    </div>
</div>

<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-3 advert">
            <img class="img-responsive" src="images/toddler-walking.jpg" alt="Baby Intelligence image">
        </div>
        <div class="col-xs-12 col-sm-3 advert">
            <img class="img-responsive" src="images/24332.JPG" alt="Baby Intelligence image">
        </div>
        <div class="col-xs-12 col-sm-3 advert">
            <img class="img-responsive" src="images/51231.JPG" alt="Baby Intelligence image">
        </div>
    </div>
</div>

<footer class="row-footer">
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a ui-sref="saapp">Home</a></li>
                    <li><a ui-sref="saapp.about">About</a></li>
                    <li><a ui-sref="saapp.contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>Our Address</h5>
                <address>
                    P.O.Box 23855<br>
                    13099 SAFAT<br>
                    KUWAIT<br>
                    <i class="fa fa-phone"></i>: +965 9974 2695<br>
                    <i class="fa fa-envelope"></i>: <a href="mailto:jasemqabazard@successarchitecture.com">jasemqabazard@successarchitecture.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
                    <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
                </div>
            </div>
            <div class="col-xs-12">
                <p align=center><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2015 Jasem Qabazard (Success Architecture)</p>
            </div>
        </div>
    </div>
</footer>