<div class="container" ng-controller="MarketController"> <!-- Start Container for all rows -->  
    <!-- Start Container for all rows -->
    <br /><br /><br /><br /><br /><br /><br />
    <div class="row row-content" ng-show="!currentUser">
        <br /><br /><br />
        <div class="alert alert-danger alert-dismissible fade in col-sm-3 loginAlerts" id="errorAlert" role="alert">
            <strong>LOG IN: BEFORE ACCESSING FREE MARKET DOWNLOADS </strong>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
        <div class="row row-content" ng-show="currentUser">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Detailed Course Booklet - Arabic</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 src="../images/arabiccoursebooklet.jpg" alt="arabic course booklet">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">Arabic Course Booklet <span class="badge">Download</span><span>   </span><span class="label label-danger">Free</span></h2>
                        <p>
                            Our courses booklet (prospectus) explains Success Architecture is so much
                            details for you. We encourage Arabic course candidates to start with this
                            important document before attending any courses.
                            The prospectus is designed in an easy to read and memoirize format suitrable
                            for the first review. The material will initiate the mental process and
                            required brain motivation to trigger complete learning and benefit from our
                            courses.
                            We are happy to receive your comments and opinion once you read this document.
                        </p>
                        <p><a class="btn btn-primary btn-xs" target="_self" href="/views/security/products/SuccessArchitectureProspectusArabic.pdf" download="arabicBooklet">download &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-content" ng-show="currentUser">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Detailed Course Booklet - English</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail img-responsive"
                                 src="../images/englishcoursebooklet.jpg" alt="english course booklet">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">English Course Booklet <span class="badge">Download</span><span>   </span><span class="label label-danger">Free</span></h2>
                        <p>
                            Our courses booklet (prospectus) explains Success Architecture is so much
                            details for you. We encourage English course candidates to start with this
                            important document before attending any courses.
                            The prospectus is designed in an easy to read and memoirize format suitrable
                            for the first review. The material will initiate the mental process and
                            required brain motivation to trigger complete learning and benefit from our
                            courses.
                            We are happy to receive your comments and opinion once you read this document.
                        </p>
                        <p><a class="btn btn-primary btn-xs" target="_self" href="/views/security/products/00_sae_Prospectus.pdf" download="englishBooklet">download &raquo;</a></p>
                    </div>
                </div>
            </div>
        </div>
</div> <!-- / End Container for all rows -->
<footer class="other-footer">
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p align=center><i class="fa fa-copyright" aria-hidden="true"></i> Copyright 2015 Jasem Qabazard (Success Architecture)</p>
            </div>
        </div>
    </div>
</footer>